.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: var(--ebony-clay);
  position: relative;
  z-index: 0;
}

.box {
  height: 300px;
  width: 300px;
  display: block;
  background-color: blue;
}