#experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.divider {
  background-color: var(--mid-gray);
  width: 50%;
  height: 4px;
  margin: 2rem 0;
}

.title {
  font-weight: 300;
  font-size: 2.5rem;
}

.jobs {
  display: flex;
  gap: 1rem;
}

.job {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  gap: 1.75rem;
}

.imageWrapper {
  height: 140px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  border-radius: 15px;
  cursor: pointer;
  pointer-events: none;
}

.imageWrapper:hover {
  filter: brightness(1.2);
}

.imageWrapper img {
  border-radius: 10px;
}

.description {
  width: 80%;
  text-align: center;
  margin-bottom: 3rem;
}

.jobDescription {
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
  pointer-events: none;
}

.jobDescription:hover {
  text-decoration: underline;
}

.jobDetails {
  height: 450px;
  width: 100%;
  margin-top: 3rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.1s linear;
}

.jobDetails > p{
  color: black; 
}

.carouselWrapper {
  background-color: var(--mid-gray);
  height: 400px;
  width: 100%;
  padding: 0 20px 0 20px;
  position: relative;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: left 1s ease-in-out;
}

.carouselBtn {
  height: 50px;
  width: 50px;
  background-color: black;
  border: 2px solid white;
  color: white;
  border-radius: 30px;
  z-index: 1;
  font-size: 20px;
  font-weight: 400;
}

.carouselBtn:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
}

.carouselFocus {
  height: 100%;
  width: 700px;
  position: relative;
  border-radius: 0 0 20px 20px;
}

.carousel {
  height: 400px;
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 0;
  transition: left 0.5s ease-in-out;
}

.elWrapper {
  height: 100%;
  width: 700px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unfocused {
  opacity: 0.3;
  transition: opacity 0.2s ease-in;
}

.landscape {
  height: 100%;
  width: 700px;
}

.portrait {
  height: 100%;
  width: 250px;
}

.radioWrapper {
  height: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.radio {
  height: 10px;
  width: 10px;
  margin: 5px;
  background-color: black;
  border-radius: 5px;
}

.radio:hover {
  background-color: #FF8A8A;
}

.selected {
  background-color: red;
}

.selected:hover {
  background-color: red;
}
